a {
    color: #ff9933;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: none 86ms ease-out;
    transition: none 86ms ease-out;
}

a.box:hover, a.box:focus {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px #ff9933;
}

a.box:active {
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px #ff9933;
}

.button.is-primary {
    background-color: #ff9933;
    border-color: transparent;
    color: #fff;
}

.button.is-primary:hover, .button.is-primary.is-hovered {
    background-color: #da7f2c;
    border-color: transparent;
    color: #fff;
}

.button.is-primary:focus, .button.is-primary.is-focused {
    border-color: transparent;
    box-shadow: 0 0 0.5em rgba(128, 64, 0, 0.25);
    color: #fff;
}

.button.is-primary:active, .button.is-primary.is-active {
    background-color: #b96629;
    border-color: transparent;
    box-shadow: inset 0 1px 2px rgba(185, 102, 41, 0.2);
    color: #fff;
}

.button.is-primary.is-inverted {
    background-color: #fff;
    color: #ff9933;
}

.button.is-primary.is-outlined {
    background-color: transparent;
    border-color: #ff9933;
    color: #ff9933;
}

.button.is-primary.is-outlined:hover, .button.is-primary.is-outlined:focus {
    background-color: #ff9933;
    border-color: #ff9933;
    color: #fff;
}

.button.is-primary.is-outlined.is-loading:after {
    border-color: transparent transparent #ff9933 #ff9933 !important;
}

.button.is-primary.is-inverted.is-outlined:hover, .button.is-primary.is-inverted.is-outlined:focus {
    background-color: #fff;
    color: #ff9933;
}


.input:focus, .input.is-focused, .input:active, .input.is-active,
.textarea:focus,
.textarea.is-focused,
.textarea:active,
.textarea.is-active {
    border-color: #ff9933;
}

.input.is-primary,
.textarea.is-primary {
    border-color: #ff9933;
}

.select:after {
    border: 1px solid #ff9933;
    border-right: 0;
    border-top: 0;
    content: " ";
    display: block;
    height: 0.5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 0.5em;
    margin-top: -0.375em;
    right: 1.125em;
    top: 50%;
    z-index: 4;
}

.select select:focus, .select select.is-focused, .select select:active, .select select.is-active {
    border-color: #ff9933;
}

.help.is-primary {
    color: #ff9933;
}

.notification.is-primary {
    background-color: #ff9933;
    color: #fff;
}

.progress.is-primary::-webkit-progress-value {
    background-color: #ff9933;
}

.progress.is-primary::-moz-progress-bar {
    background-color: #ff9933;
}

.tag.is-primary {
    background-color: #ff9933;
    color: #fff;
}

.menu-list a:hover {
    background-color: whitesmoke;
    color: #ff9933;
}

.menu-list a.is-active {
    background-color: #ff9933;
    color: #fff;
}

.message.is-primary .message-header {
    background-color: #ff9933;
    color: #fff;
}

.message.is-primary .message-body {
    border-color: #ff9933;
    color: #021310;
}

.nav-toggle.is-active span {
    background-color: #ff9933;
}

.nav-item a.is-tab:hover,
a.nav-item.is-tab:hover {
    border-bottom-color: #ff9933;
    border-top-color: transparent;
}

.nav-item a.is-tab.is-active,
a.nav-item.is-tab.is-active {
    border-bottom: 3px solid #ff9933;
    color: #ff9933;
    padding-bottom: calc(0.75rem - 3px);
}

.pagination-previous:focus,
.pagination-next:focus,
.pagination-link:focus {
    border-color: #ff9933;
}

.pagination-link.is-current {
    background-color: #ff9933;
    border-color: #ff9933;
    color: #fff;
}

.panel-list a:hover {
    color: #ff9933;
}

.panel-block.is-active {
    border-left-color: #ff9933;
    color: #363636;
}

.panel-block.is-active .panel-icon {
    color: #ff9933;
}

.tabs li.is-active a {
    border-bottom-color: #ff9933;
    color: #ff9933;
}

.tabs.is-toggle li.is-active a {
    background-color: #ff9933;
    border-color: #ff9933;
    color: #fff;
    z-index: 1;
}

.hero.is-primary {
    background-color: #ff9933;
    color: #fff;
}

.hero.is-primary a,
.hero.is-primary strong {
    color: inherit;
}

@media screen and (max-width: 768px) {
    .hero.is-primary .nav-menu {
        background-color: #ff9933;
    }
}

.hero.is-primary .tabs.is-boxed li.is-active a, .hero.is-primary .tabs.is-boxed li.is-active a:hover, .hero.is-primary .tabs.is-toggle li.is-active a, .hero.is-primary .tabs.is-toggle li.is-active a:hover {
    background-color: #fff;
    border-color: #fff;
    color: #ff9933;
}

.hero.is-primary.is-bold {
    background-image: -webkit-linear-gradient(309deg, #a75e26 0%, #ff9933 71%, #eb820c 100%);
    background-image: linear-gradient(141deg, #a75e26 0%, #ff9933 71%, #eb820c 100%);
}