<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <a class="button is-dark" href="https://github.com/thomasAbbondi98">
          <span class="icon">
            <i class="fa fa-github"></i>
          </span>
          <span>My Github</span>
        </a>
        <a class="button is-danger" href="https://gitlab.com/Abbo">
          <span class="icon">
            <i class="fa fa-gitlab"></i>
          </span>
          <span>My Gitlab</span>
        </a>
        <a class="button is-success" href="https://trello.com/tom_play_java">
          <span class="icon">
            <i class="fa fa-trello"></i>
          </span>
          <span>My Trello</span>
        </a>
      </p>
      <p>
        <span class="icon"><i class="fa fa-copyright"></i></span>
        2017: <strong>EasyNotes</strong> develop by: <strong>Thomas Abbondi</strong>
      </p>
    </div>
  </div>
</footer>
