<section class="hero is-primary hero-padded">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        EasyNotes
      </h1>
      <h2 class="subtitle">
        The Notes that are sortable, easy to read, easy to find and... whatever you want!
      </h2>
    </div>
  </div>
</section>
